.AboutBody {
  text-align: left;
  color: white;
  max-width: 1000px;
  margin: auto;
    // padding: 20rem 0;
  @media only screen and (max-width: 1370px) {
    margin-left: 10vw;
    margin-right: 10vw;
    h1,
    h2,
    p {
      display: block;
      width: 100%;
      box-sizing: border-box;

      max-width: 700px;
      margin-left: 0 !important;
    }
  }

  h1,
  h2,
  p {
    margin: 0 7vw;
    font-weight: unset;
  }

  h1 {
    color: #ff0088;
    font-size: 2rem;
    font-family: "Inter-Bold";
  }

  h2 {
    font-size: 1.5rem;
    font-family: "Inter-Regular";
    margin-top: 3vh;
    margin-bottom: 4vh;
  }
  span {
    font-family: "Inter-Bold";

  }

  p {
    line-height: 170%;
    margin-bottom: 2rem;
  }
}
