@import "../../Shared/FadeIn.scss";

.Navbar {
  z-index: 1000;
  opacity: 0;
  animation: 0.3s linear fadeIn 1.8s forwards;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  h1 {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-item {
    pointer-events: all;
    user-select: none;
    cursor: pointer;
    margin: clamp(0px, 5%, 2.5rem);
  }
}
