@import "../../Shared/FadeIn.scss";

.Navbar {
  opacity: 0;
  animation: 0.3s linear fadeIn 1.8s forwards;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
    h1 {
        font-size: 1.5rem;
        cursor:pointer;

    }

  .nav-item {
    cursor: pointer;
    margin: clamp(0px, 10%, 2.5rem);
  }
}
