.ScrollButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    button {
        width: 4rem;
        height:4rem;
        border-radius: 50%;
        outline: none;
        border:1px solid white;
        background: transparent;
        img {
            filter: invert(1);
            width: 25%
        }
    }
}