.Title {
    h1 {
        font-family: "";
        font-size: 5rem;
        text-transform: uppercase;
        font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif

        // text-transform: uppercase;
    }
}