.About {
  margin-bottom: 20rem;
}
::-webkit-scrollbar {
    width:10px;
    background:#111;
  }
  ::-webkit-scrollbar-thumb {
    // height:10px;
    background:white;
    box-shadow:0 -100vh 0 100vh white;
  }
