.Title {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1, h2 {
        color:#eee;
        margin: 0;
        text-align: center;

    }
    h1 {
        font-size: 18vw;
        text-transform: uppercase;
        font-family: 'OpenSans-Bold'
    }
    h2 {

    }
}