.Card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
  height: 20rem;
  max-width: 400px;
  text-align: left;
  // padding: 2rem;
  margin: 1rem;
  img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50%;
    width: 100%;
  }
  h1,
  p {
    margin: 1rem;
    color: white;
  }
  h1 {
    font-family: "Inter-Bold";
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0rem;
  }
  p {
    font-size: 0.9rem;
    margin-top: 0.6rem;
    opacity: 0.7;
  }
  ul {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    margin-left: 1rem;
  }
}
