.Cards {
    // max-width: 90%;
    // margin: auto;
    width:100%;
    display: flex;
    justify-content: center;
    .grid {
        // margin: 2rem;
        // max-width:1500px;
        width:100%;
        display: grid;
        // grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        // @media only screen and (max-width: 400px){
            grid-template-columns: 1fr;
        // }
    }

  
}