@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
    url(./assets/OpenSans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: local("OpenSans-SemiBold"),
    url(./assets/OpenSans/OpenSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  src: local("OpenSans-Light"),
    url(./assets/OpenSans/OpenSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"),
    url(./assets/OpenSans/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: local("OpenSans-BExtraBold),
    url(./assets/OpenSans/OpenSans-ExtraBold.ttf) format("truetype");
}
body {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding:0;
}