@font-face {
  font-family: 'OpenSans-Regular';
  src: local('OpenSans-Regular'), url(./assets/OpenSans/OpenSans-Regular.ttf) format('truetype');

}
* {
  font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif
}